@tailwind base
@tailwind components
@tailwind utilities

html,
body
  margin: 0
  fontSize: 16px

*
  box-sizing: border-box

@font-face
  font-family: 'Metropolis'
  src: url('/fonts/Metropolis-Regular.otf')
  font-style: normal
  font-weight: 400

@font-face
  font-family: 'Metropolis'
  src: url('/fonts/Metropolis-Medium.otf')
  font-style: normal
  font-weight: 500

@font-face
  font-family: 'Metropolis'
  src: url('/fonts/Metropolis-SemiBold.otf')
  font-style: normal
  font-weight: 600

.bg 
    background-color: white
    position: fixed
    top: 0
    left: 0